body {
  text-align: center;
}

footer .GitHubLink:visited,
footer .linkedinLink:visited {
  color: white;
}

footer .GitHubLink:hover,
footer .linkedinLink:hover {
  color: #171c37;
  text-decoration: none;
}
