:root {
  --primary-color: #171c37;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#3441d2, #a3a6c5);
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.Weather {
  margin-top: 20px;
}

.FormInput {
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.FormSubmit {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
}
