:root {
  --primary-color: #171c37;
}

.ForecastContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 10px;
}

.NextDay {
  background-color: rgba(23, 28, 55, 0.5);
  padding: 10px;
  margin: 5px;
  max-width: 90px;
}

.forecastIcon {
  max-width: 80px;
}

@media screen and (max-width: 576px) {
  .ForecastContainer {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .NextDay {
    margin: 5px;
  }
}
