:root {
  --primary-color: #171c37;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#3441d2, #a3a6c5);
  height: 1000px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.Weather {
  margin-top: 20px;
}

form {
  margin-top: 50px;
}

.FormInput {
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.FormSubmit {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
}
.NextDay {
  background-color: rgba(23, 28, 55, 0.5);
  margin: auto 2px;
  padding: 2px;
}

@media (min-width: 768px) {
  .FormInput {
    padding: 8px;
    margin-right: 20px;
  }

  .FormSubmit {
    font-size: 25px;
  }

  .container {
    display: grid;
    max-width: 600px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.7fr;
    grid-template-areas:
      "TodayForecast TodayForecast TodayForecast TodayParameters TodayParameters TodayParameters"
      "Forecast Forecast Forecast Forecast Forecast Forecast";
  }

  #TodayForecast {
    grid-area: TodayForecast;
  }
  #TodayParameters {
    grid-area: TodayParameters;
  }
  #Forecast {
    grid-area: Forecast;
  }
}
