:root {
  --primary-color: #171c37;
}
html {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#3441d2, #a3a6c5);
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.Weather {
  margin-top: 20px;
}

form {
  margin-top: 50px;
}

.FormInput {
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin-right: 20px;
}

.FormSubmit {
  font-size: 25px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
}

.units {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  bottom: 14px;
}

.link:visited {
  color: white;
}

.link:active {
  color: white;
}

@media (max-width: 576px) {
  .container {
    max-width: 100px;
    display: flex;
    flex-direction: column;
  }

  .FormInput {
    font-size: 15px;
  }

  .FormSubmit {
    font-size: 15px;
  }

  #TodayForecast {
    margin: 0 auto;
    border-right: none;
    text-align: center;
  }

  .TodayIcon {
    margin-top: 10px;
  }

  .NextDay {
    max-width: 50px;
    margin: 10px auto;
  }

  .ForecastContainer li {
    font-size: 13px;
  }
}
